<h1>Manufacturers Index</h1>

<p><%= link_to 'See all cars', cars_path%></p>
<%= link_to 'Add a manufacturer!', new_manufacturer_path %>

<ul>
  <% @manufacturers.each do |manufacturer| %>
    <li><%= "#{manufacturer.country} - #{manufacturer.name}" %></li>
  <% end %>
</ul>
